<% content_for :title, "Members"%>
<div class="w-full rounded overflow-hidden bg-white">
  <div class="flex justify-between items-center mb-2">
    <% if !turbo_native_app?%>
      <div class="text-xl font-bold text-gray-900">
        Members List
      </div>
    <% end %>
    <a href="<%=members_new_path%>" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-3 rounded">
      New Member
    </a>
  </div>
  <p class="text-gray-700 text-base">
    <ul role="list" class="divide-y divide-gray-100">
      <% @data.each do |member| %>
        <li class="flex w-full justify-between gap-x-6 py-5">
          <a href="<%=members_show_path(member.dig(:id))%>">
            <div class="flex min-w-0 gap-x-4">
              <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="<%=member.dig(:image)%>" alt="">
              <div class="min-w-0 flex-auto">
                <p class="text-sm/6 font-semibold text-gray-900"><%=member.dig(:name)%></p>
                <p class="mt-1 truncate text-xs/5 text-gray-500"><%=member.dig(:email)%></p>
              </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
              <p class="text-sm/6 text-gray-900"><%=member.dig(:role)%></p>
              <p class="mt-1 text-xs/5 text-gray-500">Last seen <%=member.dig(:active_at)%></p>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </p>
</div>